dbfs/
Scripts/
Lib/
__pycache__/
Include/
main.build/
main.dist/
serial.txt
SP-Hojas.csv
app.log
config_temp.txt
.python-version
pyvenv.cfg 
credentials.txt 
sql/installer_v14.ifp
hmi/
deploy/setup.exe
