CREATE DATABASE IF NOT EXISTS alergom_server DEFAULT CHARACTER SET 'cp850';{#-- DEFAULT COLLATE 'utf8_spanish_ci'; https://mariadb.com/kb/en/supported-character-sets-and-collations/#}
CREATE USER IF NOT EXISTS 'caipe'@'%' IDENTIFIED BY '111111';
{#-- GRANT ALL PRIVILEGES ON alergom_server.* TO 'caipe'@'%';#}
GRANT SELECT ON alergom_server.* TO 'caipe'@'%';
GRANT FILE ON *.* TO 'caipe'@'%';

USE alergom_server;

CREATE OR REPLACE TABLE cliente
    engine=CONNECT
    table_type=DBF
    file_name='{{DBF_PATH}}FC101000.DBF'
    readonly=1
;
{#-- option_list='Accept=1' -- https://jira.mariadb.org/browse/MDEV-10525?page=com.atlassian.streams.streams-jira-plugin%3Aactivity-stream-issue-tab#}

CREATE OR REPLACE TABLE orden_produccion_item (
    id INT(4) NOT NULL default 0 special=ROWNUM,
    CM76_01 INT(8),
    CM76_02 CHAR,
    CM76_03 CHAR(8) DEFAULT NULL,
    CM76_04 INT(6),
    CM76_05 CHAR(15),
    CM76_06 CHAR(15),
    CM76_07 INT(6) NOT NULL DEFAULT 0,
    CM76_08 INT(6),
    CM76_09 DOUBLE(10,2) DEFAULT NULL,
    CM76_10 CHAR(8) DEFAULT NULL,
    CM76_11 INT(6) NOT NULL DEFAULT 0,
    CM76_12 INT(6) DEFAULT NULL,
    CM76_13 DOUBLE(10,2) DEFAULT NULL,
    CM76_14 CHAR(8) DEFAULT NULL,
    CM76_15 INT(6) DEFAULT NULL,
    CM76_16 INT(6) NOT NULL DEFAULT 0,
    CM76_17 INT(6) DEFAULT NULL,
    CM76_18 DOUBLE(10,2) DEFAULT NULL,
    CM76_19 CHAR(8) DEFAULT NULL,
    CM76_20 INT(6) DEFAULT NULL,
    CM76_21 INT(6) NOT NULL DEFAULT 0,
    CM76_22 INT(6) DEFAULT NULL,
    CM76_23 DOUBLE(10,2) DEFAULT NULL,
    CM76_24 CHAR(8) DEFAULT NULL,
    CM76_25 INT(6) DEFAULT NULL,
    CM76_26 CHAR(140),
    CM76_27 INT(1) DEFAULT 0,
    fname CHAR(12) NOT NULL DEFAULT('COS76000') special=FNAME
    )
    engine=CONNECT
    table_type=DBF
    file_name= '{{DBF_PATH}}%s.DBF'
;

ALTER TABLE orden_produccion_item
    PARTITION BY LIST COLUMNS (fname) (
        PARTITION `COS76000` VALUES IN('COS76000'),
        PARTITION `COS76001` VALUES IN('COS76001')
    );

CREATE OR REPLACE TABLE hoja_de_ruta
    engine=CONNECT
    table_type=DBF
    file_name= '{{DBF_PATH}}COS75000.DBF'
    readonly=1
;

CREATE OR REPLACE VIEW orden_produccion_item_abierta AS 
    SELECT iop.id,
        iop.CM76_01,
        iop.CM76_02,
        iop.CM76_03,
        hoja_de_ruta.CM75_03,
        cliente.FM01_02,
        iop.CM76_05,
        iop.CM76_06,
        iop.CM76_07,
        iop.CM76_08,
        iop.CM76_09,
        iop.CM76_10,
        iop.CM76_11,
        iop.CM76_12,
        iop.CM76_13,
        iop.CM76_14,
        iop.CM76_15,
        iop.CM76_16,
        iop.CM76_17,
        iop.CM76_18,
        iop.CM76_19,
        iop.CM76_20,
        iop.CM76_21,
        iop.CM76_22,
        iop.CM76_23,
        iop.CM76_24,
        iop.CM76_25,
        iop.CM76_26,
        iop.CM76_27,
        iop.fname
    FROM orden_produccion_item as iop
    INNER JOIN cliente
    ON iop.CM76_04 = cliente.FM01_01
    INNER JOIN  hoja_de_ruta
    ON iop.CM76_06 = hoja_de_ruta.CM75_01
    WHERE iop.CM76_07 - iop.CM76_11 - iop.CM76_16 - iop.CM76_21 > 0
    AND iop.CM76_06 != ''
    AND iop.CM76_01 > 0
;

CREATE OR REPLACE TABLE operario
    engine=CONNECT
    table_type=DBF
    file_name= '{{DBF_PATH}}COS70003.DBF'
    readonly=1
    {#-- option_list='Accept=1' -- https://jira.mariadb.org/browse/MDEV-10525?page=com.atlassian.streams.streams-jira-plugin%3Aactivity-stream-issue-tab#}
;

GRANT UPDATE ON alergom_server.orden_produccion_item_abierta TO 'caipe'@'%';
FLUSH PRIVILEGES;
