USE caipe_server;

TRUNCATE receta;

LOAD DATA INFILE '{{CSV_PATH}}'
REPLACE INTO TABLE receta
FIELDS TERMINATED BY ','
ENCLOSED BY ''
LINES TERMINATED BY '\r\n'
STARTING BY ''
IGNORE 3 LINES (
    @hr,
    SPTEMP1s,
    SPTEMP1i,
    TINIDES,
    TBAJA1,
    TESPE1,
    SDESGA1,
    TCURADO1,
    SPREDES1a,
    SPREDES1b,
    SPREDES1c,
    SPRECUR1,
    @dummy,
    @dummy
    )
SET 
    hr = REPLACE(SUBSTRING(@hr,2), '-', '/'),
    -- TBAJA1 = 10*@tbaja1,
    -- TESPE1 = 10*@tespe1,
    -- TCURADO1 = 100*@tcurado1,
    SARRIMES = 0,
    SPARRMAX = 0,
    SPARRMIN = 0,
    LIBRE1 = 0,
    LIBRE2 = 0
;